任维熙/week09/作业2-机器学习问答机器人.yml
app:
  description: ''
  icon: face_with_monocle
  icon_background: '#FFE4E8'
  icon_type: emoji
  mode: advanced-chat
  name: 机器学习问答机器人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-1711528709608
      source: '1711528708197'
      sourceHandle: source
      target: '1711528709608'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528815414-1711528835179
      source: '1711528815414'
      sourceHandle: source
      target: '1711528835179'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: answer
      id: 1711528709608-1711528775142
      source: '1711528709608'
      sourceHandle: '1711528737066'
      target: '1711528775142'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528736036-1774537268352-target
      source: '1711528709608'
      sourceHandle: '1711528736036'
      target: '1774537268352'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774537268352-source-1711528802931-target
      source: '1774537268352'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528736549-1774537800624-target
      source: '1711528709608'
      sourceHandle: '1711528736549'
      target: '1774537800624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774537800624-source-1711528815414-target
      source: '1774537800624'
      sourceHandle: source
      target: '1711528815414'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: '1711528708197'
      position:
        x: 79.5
        y: 714.5
      positionAbsolute:
        x: 79.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1711528736036'
          name: 机器学习问题
        - id: '1711528736549'
          name: 大模型问题
        - id: '1711528737066'
          name: 其他问题
        desc: 我们可以设定用户问题的分类条件，然后大语言模型就能根据这些分类描述来决定对话的发展方向。
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
      height: 268
      id: '1711528709608'
      position:
        x: 362.5
        y: 714.5
      positionAbsolute:
        x: 362.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - LtGz1LWg0EfzuGLxLxpyIeAy+5SFmWrzGw+1IKv4cIu05QSN/+jX7zpzakFgVsU1
        desc: 检索机器学习类问题
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 机器学习知识检索
        type: knowledge-retrieval
      height: 118
      id: '1774537268352'
      position:
        x: 645.5
        y: 714.5
      positionAbsolute:
        x: 645.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 7MXlv97UgQAKZy2EhTvpTZ9Fc4mu5fgfu0PIHpCPTT+vFKPQtR825z7shNYzDrjX
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: '大模型知识检索 '
        type: knowledge-retrieval
      height: 90
      id: '1774537800624'
      position:
        x: 645.5
        y: 868.6428571428572
      positionAbsolute:
        x: 645.5
        y: 868.6428571428572
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 抱歉，这些问题我无法回答。
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 100
      id: '1711528775142'
      position:
        x: 645.5
        y: 1044.2142857142856
      positionAbsolute:
        x: 645.5
        y: 1044.2142857142856
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774537268352'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: e8a1b454-8d62-4e8f-a9ca-c6562897f285
          role: system
          text: '使用以下上下文作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            当回答用户时：

            如果你不知道，就说你不知道。如果你不确定时不知道，寻求澄清。

            避免提及你从上下文中获取的信息。

            并根据用户问题的语言进行回答。'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 928.5
        y: 714.5
      positionAbsolute:
        x: 928.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774537800624'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: e1ecf986-18f4-48c4-adde-c1f5e5077ba5
          role: system
          text: '使用以下上下文作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            当回答用户时：

            如果你不知道，就说你不知道。如果你不确定时不知道，寻求澄清。

            避免提及你从上下文中获取的信息。

            并根据用户问题的语言进行回答。'
        selected: true
        title: 'LLM '
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528815414'
      position:
        x: 928.5
        y: 868.6428571428572
      positionAbsolute:
        x: 928.5
        y: 868.6428571428572
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 1211.5
        y: 714.5
      positionAbsolute:
        x: 1211.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528815414.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables:
        - value_selector:
          - '1711528815414'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528835179'
      position:
        x: 1211.5
        y: 868.6428571428572
      positionAbsolute:
        x: 1211.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -196.28963370007773
      y: -431.431284396293
      zoom: 0.923655537541026
  rag_pipeline_variables: []
